<template name="home">
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<div id="skrollr-body">
    {{> skrollrBackground}}
    <section id="intro" class="colored text-center">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="container">
                        <a class="navbar-brand" href="{{pathFor 'home'}}">{{Config.name}}</a>
                        <div id="main-nav" class="navbar-collapse">
                            <ul class="social-links">
                                {{#unless currentUser}}
                                <a id="home-login" href="{{pathFor 'entrySignIn'}}"><li>Login</li></a>
                                {{/unless}}
                                {{#each socialMedia}}
                                <a href="{{url}}" target="_blank"><li class="fa fa-{{icon}}"></li></a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="intro-well wow animated bounceIn">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1>{{Config.title}}</h1>
                        <h2 style="color:white;" class="hidden-xs">{{Config.subtitle}}</h2>            
                    </div>
                </div>

                <div class="row">
					<div class="col-lg-12 col-sm-12">
						<div class="box box-primary box-special-p">
							<div class="box-header">
								<h3 class="box-title">Search Now!</h3>
							</div>
							<!-- /.box-header -->
							<!-- form start -->
							<form role="form">
								<div class="box-body">
									<div class="form-group box-content-special">
										<input type="number" class="form-control" 
										id="in-postalcode"
											placeholder="Enter postal code">
									</div>
									<div class="form-group box-content-special">
										<select class="form-control">
											<option>Choose the tax professional's speciality</option>
											<option>option 2</option>
											<option>option 3</option>
											<option>option 4</option>
											<option>option 5</option>
										</select>
									</div>
									<div class="form-group box-content-special">
										<button id="homepage-mainsearch-btn" type="submit" class="btn btn-primary">Search</button>
									</div>
								</div>
								<!-- /.box-body -->

							</form>
						</div>
					</div>
				</div>
            </div>
        </div>
    </section>
    <section id="home-buttons" class="text-center">
    	<div class="container wow animated bounceIn">
		<div class="row">
			<div class="col-lg-6 col-sm-6">
				<a href="{{pathFor 'serviceproviders'}}"
					class="homepage-button btn-success"> <span>Search for Tax Help! </span>
				</a>
			</div>
			<div class="col-lg-6 col-sm-6">
				{{#if currentUser}} 
				<a id="serviceproviderBtnClicked"
					class="homepage-button btn-success"
					href="{{pathFor 'serviceprovider'}}"> <span>Are you a certified Service Provider? </span>
				</a> 
				{{else}} 
				<a id="serviceproviderBtnClicked"
					class="homepage-button btn-success"
					href="{{pathFor 'entrySignUp'}}"> <span>Are you a certified Service Provider? </span>
				</a> {{/if}}
			</div>
		</div>
		</div>
	</section>
	<section id="how-it-works" class="text-center">
        <div class="container wow fadeIn animated">
            <div class="row col-md-12">
                <h3>How does it work?</h3>
                <h4>{{Config.name}} - {{Config.subtitle}}</h4>
            </div>
        </div>
        <div class="container">
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.4s">
                    <div class="iconbox">
                        <i class="fa fa-plane fa-3x"></i>
                    </div>
                    <p class="icntitle">1. Step 1</p>
                    <p class="icnp">Search for a certified tax or financial advisor/consultant near you.</p>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                    <div class="iconbox">
                        <i class="fa fa-bolt fa-3x"></i>
                    </div>
                    <p class="icntitle">2. Step 2</p>
                    <p class="icnp"> Review and Choose your advisor.</p>
                </div>
                <div class="col-md-4 wow fadeInRight animated" data-wow-delay="1.2s">
                    <div class="iconbox">
                        <i class="fa fa-check fa-3x"></i>
                    </div>
                    <p class="icntitle">3. Step 3</p>
                    <p class="icnp">Book your appointment and make wise financial and tax decisions!</p>
                </div>
            </div>
        </div>
    </section>
</div>
{{> footerHome}}
</template>
<template name="skrollrBackground">
<div
    id="skroll-background-intro"
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#intro"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
        class="parallax-image parallax-image-100"
        data-anchor-target="#intro"
        data-bottom-top="transform: translate3d(0px, -80%, 0px);"
        data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
    <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
</div>
</template>
<template name="footerHome">
    <footer id="footer-home">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-offset-2 col-md-8">
                    <ul class="social-networks">
                        {{#each socialMedia}}
                        <li><a href="{{url}}" target="_blank">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-{{icon}} fa-stack-1x fa-inverse"></i>
                        </span></a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    {{{Config.footer}}}
                </div>
            </div>
        </div>
    </footer>
</template>

<!-- Email template to send feedback -->
<template name="contactForm">
  {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail"}}
  <fieldset style="max-width:900px;overflow:auto;margin-left: auto;margin-right: auto;">
    <legend>Contact Us/Give Feedback</legend>
    {{> afQuickField name="name"}}
    {{#if currentUser}}
    {{> afQuickField name="email" placeholder="" }}
    {{else}}
    {{> afQuickField name="email"}}
    {{/if}}
    
    {{> afQuickField name="message" rows=10}}
    <div>
      <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </fieldset>
  {{/autoForm}}
</template>

<template name="home-search-box">

</template>