<template name="mainPageSearchTemplate">
<div class="row">
	<div class="col-lg-12 col-sm-12">
		<div class="box box-primary box-special-p">
			<div class="box-header">
				<h3 class="box-title">Search Now!</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form role="form" id="home-search-form">
				<div class="box-body">
					<div class="form-group box-content-special">
						<input type="number" class="form-control" id="in-postalcode"
							placeholder="Enter postal code" required>
					</div>
					<div class="form-group box-content-special">
						<select class="form-control" id="specialityDropdown">
							<option value="">What do you need help with?</option>
							<option value="Tax – Appeals and Representation">Tax –
								Appeals and Representation</option>
							<option value="Tax – Business">Tax – Business</option>
							<option value="Tax – Comprehensive">Tax – Comprehensive</option>
							<option value="Tax – Consolidated Returns">Tax –
								Consolidated Returns</option>
							<option value="Tax – Consulting">Tax – Consulting</option>
							<option value="Tax – Corporate">Tax – Corporate</option>
							<option value="Tax – Divorce">Tax – Divorce</option>
							<option value="Tax – High Net Worth Individuals">Tax –
								High Net Worth Individuals</option>
							<option value="Tax – Individuals">Tax – Individuals</option>
							<option value="Tax – International">Tax – International</option>
							<option value="Tax – Late/Back Year Taxes">Tax –
								Late/Back Year Taxes</option>
							<option value="Tax – LLC/LLP">Tax – LLC/LLP</option>
							<option value="Tax – Multi-State Returns">Tax –
								Multi-State Returns</option>
							<option value="Tax – Non-Resident/Foreign Returns">Tax –
								Non-Resident/Foreign Returns</option>
							<option value="Tax – Offers in Compromise">Tax – Offers
								in Compromise</option>
							<option value="Tax – Post Mortem Planning">Tax – Post
								Mortem Planning</option>
							<option value="Tax – Real/Personal Property Taxes">Tax –
								Real/Personal Property Taxes</option>
							<option value="Tax – Reorganizations">Tax –
								Reorganizations</option>
							<option value="Tax – Sales Taxes">Tax – Sales Taxes</option>
							<option value="Tax – Stock Options">Tax – Stock Options</option>
							<option value="Tax – Value Added Tax (VAT)">Tax – Value
								Added Tax (VAT)</option>
							<option value="Tax – Bankruptcy">Tax – Bankruptcy</option>
						</select>
					</div>
					<div class="form-group box-content-special">
						<button type="submit" id="homepage-mainsearch-btn"
							class="btn btn-primary">Search</button>
					</div>
				</div>
				<!-- /.box-body -->

			</form>
		</div>
	</div>
</div>
</template>