<template name="searchResult">
  <div id='search-result'>
    <div id="search-meta">
      {{#if isLoading}}
        searching ...
      {{/if}}
    </div>

    {{#each getServiceProviders}}
    <div class="providerSearchResult">
    <div class="providerSearchResult row">
    	<div class="col-md-1">
    	<div class="provider-photo-container">
        	<img src="" alt="" style="display: inline;">
    	</div>
    	</div>
    	<div class="col-md-9">
	    	<div class="providerSearchResultDetail">
		    <div class="providerSearchResultDetailHeader">
		      <h3>
		        <span>{{{businessname}}}</span>
		        <small>{{{contactname}}}</small>
		      </h3>
		      <h4 class="description">
		        <span>{{{officeaddress}}}</span>
		      </h4>
		    </div>
		    <div class="providerRating">
		    
		    </div>
		    <div class="specialityText">
		    <h5>{{{specialities}}}</h5></div>
		    <div class="description">
		    <h5>{{{businessdesc}}}</h5></div>	    
		    </div>
	    </div>
	</div>
	</div>
    {{/each}}
  </div>
</template>
<template name="searchMetaDataHead">
	<h3 class="panel-title">
		{{#if getProviderCount}}
			{{getProviderCount}} matches found
			{{#if getQueryDetails}}
			 for {{getQueryDetails}} tax and financial professionals
			{{/if}}
		{{else}}
			Finding....
			
		{{/if}}
	</h3>
</template>

<template name="serviceproviders">

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Search for Tax and Financial Professionals Near You!</h3>
	</div>
	<div class="panel-body">
			<!-- Create pagination here.
				{{#each serviceProviderList}} 
					{{> serviceproviderlistdetail}}
				{{/each}}
			 -->
			{{> searchBox }}
	</div>
</div>
<div class="panel panel-primary">
	
	<div class="panel-heading">
	{{> searchMetaDataHead}}
	</div>
	<div class="panel-body">
		{{> searchResult }}
	</div>
</div>
{{> contactus}} 
</template>

